version: "3.9"
#teste
services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped


  api:
    image: ghcr.io/ferrari65/backend-gestao_acesso:main
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      PORT: 8080
